body {
  background-color: #FFFFFF;
}

/*----------BACKGROUND----------*/
.bg-white{
  background-color: #FFFFFF;
}

.bg-black{
  background-color: #000000;
}

.bg-gray{
  background-color: #CCCCCC;
}

.bg-light-gray{
  background-color: #F0F0F0;
}

.bg-light-gray-trans{
  background-color: rgba(240, 240, 240, 0.6);
}

.banner-background-img{
  background-image: url(./assets/images/static/scuba.banner.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 200px 0px 240px;
}

/*----------TEXT----------*/
h3{
  margin: 0px;
}

p{
  margin: 0px;
}

/*----------BLOCK ELEMENTS----------*/
blockquote{
  padding: 35px 0px;
  margin-bottom: 0px;
}

section{
  margin-bottom: 35px !important;
}

article{
  box-shadow: 0px 0px 5px 1px #CCCCCC;
  margin-top: 30px;
  margin-bottom: 30px;
}

#dykkerUdstyr article{
  margin-left: 1%;
  margin-right: 1%;
  width: 23.5%;
  padding: 30px 30px;
}

#dykkerUdstyr article:first-child{
  margin-left: 0px;
  margin-right: 1%;
}

#dykkerUdstyr article:last-child{
  margin-left: 1%;
  margin-right: 0px;
}

#dykIVerden article{
  margin-left: 1%;
  margin-right: 1%;
  width: 49%;
}

#dykIVerden article:first-child{
  margin-left: 0px;
  margin-right: 1%;
}

#dykIVerden article:last-child{
  margin-left: 1%;
  margin-right: 0px;
}

#dykIVerden article div{
  padding: 25px;
}

#dykkerCertifikat article div{
  padding: 40px 100px;
}

.border-black{
  border: 1px solid #000000;
}

.contain{
  width: 90%;
  margin: 0px 5%;
}
