/*----------BACKGROUND----------*/
.bg-white{
  background-color: #FFFFFF;
}

.bg-black{
  background-color: #000000;
}

.bg-gray{
  background-color: #CCCCCC;
}

.bg-light-gray{
  background-color: #F0F0F0;
}

.bg-light-gray-trans{
  background-color: rgba(240, 240, 240, 0.6);
}

.banner-background-img{
  background-image: url(./assets/images/static/scuba.banner.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 200px 0px 240px;
}

/*----------TEXT----------*/
h1{
  font-size: inherit;
}

h1, h2{
  margin: 0px;
}

p{
  margin: 0px;
}

/*----------BORDERS----------*/
.border-black{
  border: 1px solid #000000;
}

.border-gray{
  border: 1px solid #CCCCCC;
}

/*----------BLOCK ELEMENTS----------*/
body {
  background-color: #FFFFFF;
}

/*-----HEADER-----*/
header .col-md-1, header .col-md-2, header .col-md-3, header .col-md-4, header .col-md-5,
header .col-md-6, header .col-md-7, header .col-md-8, header .col-md-9, header .col-md-10, 
header .col-md-11, header .col-md-12, header .navbar{
  padding: 3px 0px;
}

.fa-bars{
  color: #FFFFFF;
}

header .nav-link{
  padding: 0px;
  color: #000000;
}

/*-----MAIN-----*/
section{
  margin-bottom: 35px !important;
}

article{
  box-shadow: 0px 0px 5px 1px #CCCCCC;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*BANNER*/
#banner blockquote{
  padding: 35px 0px;
  margin-bottom: 0px;
}

/*DYKKERUDSTYR*/
#dykkerUdstyr article{
  margin-left: 1%;
  margin-right: 1%;
  width: 23.5%;
  padding: 30px 30px;
}

#dykkerUdstyr article:first-child{
  margin-left: 0px;
  margin-right: 1%;
}

#dykkerUdstyr article:last-child{
  margin-left: 1%;
  margin-right: 0px;
}

#dykkerUdstyr .nav-link{
  color: #000000;
}

/*DYK I VERDEN*/
#dykIVerden article{
  margin-left: 1%;
  margin-right: 1%;
  width: 49%;
}

#dykIVerden article:first-child{
  margin-left: 0px;
  margin-right: 1%;
}

#dykIVerden article:last-child{
  margin-left: 1%;
  margin-right: 0px;
}

#dykIVerden article div{
  padding: 25px;
}

#dykIVerden .nav-link{
  color: #000000;
}

/*DYKKERCERTIFIKAT*/
#dykkerCertifikat article div{
  padding: 40px 100px;
}

#dykkerCertifikat .nav-link{
  color: #000000;
}

/*-----FOOTER-----*/
footer{
  padding: 60px 0px;
}

footer .navbar{
  padding: 0px;
  justify-content: inherit;
}

footer .navbar-nav{
  margin-top: 10px;
}

footer .nav-item{
  padding: 0px;
}

footer .nav-link{
  color: #FFFFFF;
  padding: 0px;
}

.contain{
  width: 90%;
  margin: 0px 5%;
}
